/* stylelint-disable -- giving errors in font style */
body{
  background-color: whitesmoke;
  margin-bottom: 60px;
  background: #E5E5E5;
}

section {
  background-image: url("images/Header-bg.png");
  background-repeat: no-repeat;
  position: absolute;
	border-bottom-left-radius: 50px;
}

a {
  list-style-type: none;
  text-decoration: none;
}

h2{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #091e42;
  margin-left: 40px;
  letter-spacing: 0.37px;

}

nav > img{
  float: right;
  display: inline;
  margin-top: -25px;
}

li {
  list-style-type: none;
}

.connect {
  display: flex;
  gap: 15px;
}

h3 {
  margin-left: 40px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

h1 {
  font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	color: #6070FF;
  line-height: 20px;
  margin-left: 40px;
  display: inline;
}

p {
  font: 'Poppins';
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-left: 40px;
  color: #344563;
}

a:hover {
  color: grey;
}

a:enabled {
  color: red;
}

section {
  margin-top: 100px;
}

.head{
  margin-top: 30px;
}
 
.middle{
  display: grid;
  grid-gap: 80px;
  margin-top: 1000px;
  margin-left: 40px;
}

.intro{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #091E42;
  margin-top: -100px;
}

.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 15px;
  background-color: white;
  padding: 20px;
}

.complete{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091E42;
  padding-top: 142px;
}

.line{
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  gap: 0px;
}

.item{
  margin-top: -5px;
  padding-right: 8px;
}

.item2{
  margin-top: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091E42;

}

.item4{
  margin-left: -35px;
}

.card{
  margin-left: -40px;
}

.item3{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-top: 1px;
}

.item5{
  margin-left: -55px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-top: 1px;
}

.item6{
  margin-left: -35px;
}

.item7{
  margin-left: -60px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-top: 1px;
}

.item8{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

li{
  display: inline;
}

li > button{
  padding: 4px 12px;
  color: #6070FF;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  background: #EBEBFF;
  border-radius: 8px;
  border: none;
}

.btn{
  margin-left: 40px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396DF2;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}

button{
  color: #396DF2;
}

button:hover{
  background: #4053FC;
  color: white;
}

button:disabled{
  border: 1px solid black;
}

p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;

}

.about{
  margin-top: 3800px;
  margin-left: 40px;
  border-top-right-radius: 60px;
  background-color: white;
  width: 350px;
}

.tag{
  padding-right: 15px;
}

.intro{
  padding-top: 142px;
}

.lang{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #344563;
  margin-top: 20px;
}

.arrow{
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}

.arrow-image{
  margin-top: 25px;
  margin-right: 40px;
}

.stack{
  display: flex;
  margin-top: 20px;
  margin-left: 40px;
  background: #F7F7F9;
  border-radius: 8px;
  margin-right: 20px;
  padding: 8px;
}

.listing{
  padding-top: 20px;
  padding-left: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-left: -30px;
}

.others{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #344563;
}

.icon{
  margin-right: 50px;
  margin-top: 5px;
}

.part{
  padding-bottom: 60px;
}

.tagline{
  padding-top: 80px;
}

